* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

header {

    background-color: #8BD35F;
    width: 100%;
    padding: 10px;
    color: #5F8AD3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    
}

header h1 {

    font-size: 48px;
}

header nav {
    
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header nav ul {
    margin: 0px;
    list-style: none;
    display: flex;
    padding-top: 30px;

}

header nav ul li {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 25px;
    text-align: center;
    

}

a{

    color: #5F8AD3;
    text-decoration: none;
    align-items: flex-end;
}

.background {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/barharbor.jpg");
    background-size: cover;
    background-position: center;
    position: relative
    
   
}

.background img {
   border-radius: 75px;
   background-color: none;
   position: absolute;
   width: 150px;
   height: 200px;
   bottom: 0px;
   left: 50%;
   margin-left: -75px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    text-decoration: underline;
    padding: 10px;
    border-right: 15px;
    border-right-width: 15px;
    align-items: center;
}

article h2 {
    width: 160px;
    align-items: center;
    border-style: none double none none;
    border-color: #8bd35f;

}

/* Sets header to the left of About Me pargraph */
#about-me {
    display: flex;
    justify-content: flex-start;
}

#about-me p {
    font-size: 24px;
    padding-top: 20px;
    margin-left: 20px;

}
/* Sets header to the left of project links */
.content-section {
    display: flex;

}

.works-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 30px;

}

.works-wrapper a,
.works-wrapper a:visited {
    color: inherit;
    
}

figure {
    margin: 0;
    
}
.works-wrapper .work-example {
    flex: 0 0 calc(50% - 20px);
    border: 5px solid #8BD35F;
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    height: 450px;
}

.works-wrapper .big-example {
    flex-basis: 100%;
    
}

.works-wrapper .work-example img {
    display: block;
    min-width: 100%;
    height: 100%;
    width: 450px;
    height: 450px;
    
}

.works-wrapper .work-example figcaption {
    position: absolute;
    left: 0;
    top: 10%;
    background-color: #3edaac;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: .75;
}

.works-wrapper .work-example figcaption:hover {
    opacity: 1.0;

}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contact ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    
}

.contact ul li {
    display: inline-flex;
    justify-content: space-evenly;

}

.contact ul li a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    text-align: center;
}

footer h4 {
    
    text-shadow: -2px 2px #5DA82E;
    
}

footer h4::after {
    content: " \00A9 2021";
}

@media screen and (max-width: 1205px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        text-align: center;
    }
}

@media screen and (max-width: 970px) {
    .contact ul, .works-wrapper {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {

    header, .contact, header nav ul, .content-section {
        flex-direction: column;
        
    }

    .works-wrapper .work-example {
        margin: 0 0 0 0;
        flex-basis: 200px;
        height: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .works-wrapper .work-example figcaption {
        padding: 10px;
        font-size: 16px;
        font-weight: bold;

}