* {
    box-sizing: border-box;
}

body {
    
}

header {

    background-color: burlywood;
    width: 100%;
    padding: 10px;
    color: #5F8AD3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    /* flex-flow: row wrap;  */
    
}

header h1 {

    font-size: 48px;
    width: 65%;
    
}

header nav {
    
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

header nav ul {
    list-style: none;

}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
    

}

a{

    color: #5F8AD3;
    text-decoration: none;
    align-items: flex-end;
}

.background {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/barharbor.jpg");
    background-size: cover;
    background-position: center;
    position: relative
    
   
}

.background img {
   border-radius: 75px;
   background-color: none;
   position: absolute;
   width: 150px;
   height: 200px;
   bottom: 0px;
   left: 50%;
   margin-left: -75px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    text-decoration: underline;
    padding: 10px;
    border-right: 15px;
    border-right-width: 15px;
    align-items: center;
}

article h2 {
    width: 160px;
    align-items: center;
    border-style: none double none none;
    border-color: purple;

}

#about-me p {
    font-size: 24px;

}

.content-section {
    margin: 50px 150px;
}

.works-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works-wrapper a,
.works-wrapper a:visited {
    color: inherit;
    
}

figure {
    margin: 0;
    
}
.works-wrapper .work-example {
    flex: 0 0 calc(50% - 20px);
    border: 5px solid burlywood;
    margin: 0 0 20px 0;
    position: relative;
    
}


.works-wrapper .big-example {
    flex-basis: 100%;
}

.works-wrapper .work-example img {
    display: block;
    width: 100%;
    
}

.works-wrapper .work-example figcaption {
    position: absolute;
    left: 0;
    top: 10%;
    background-color: #3edaac;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: .75;
}

/* Not working */
figcaption:hover {
    opacity: 1.0;

}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact ul {
    list-style: none;
}

.contact ul li {
    display: inline;
}
footer {
    text-align: center;
}

footer h4 {
    
    text-shadow: -2px 2px #FF0000;
    
}

footer h4::after {
    content: " \00A9 2021";
}

@media screen and (max-width: 768px) {

    header,
    .works-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {

}